# Задача 3735
- Сначала выведите третий символ этой строки.
- Во второй строке выведите предпоследний символ этой строки.
- В третьей строке выведите первые пять символов этой строки.
- В четвертой строке выведите всю строку, кроме последних двух символов.
- В пятой строке выведите все символы с четными индексами (считая, что индексация начинается с 0, поэтому символы выводятся начиная с первого).
- В шестой строке выведите все символы с нечетными индексами, то есть начиная со второго символа строки.
- В седьмой строке выведите все символы в обратном порядке.
- В восьмой строке выведите все символы строки через один в обратном порядке, начиная с последнего.
- В девятой строке выведите длину данной строки.

In [1]:
s = input()
print(s[2])
print(s[-2])
print(s[:5])
print(s[:-2])
print(s[::2])
print(s[1::2])
print(s[::-1])
print(s[-1::-2])
print(len(s))

Abracatabra
r
r
Abrac
Abracatab
Arctba
baaar
arbatacarbA
abtcrA
11

# Задача 3737

In [ ]:
#Hello -> loHel

In [4]:
s = input()
mid_el = len(s) // 2 + len(s) % 2
print(s[mid_el:] + s[:mid_el])

goal
algo

# Задача 3739

In [16]:
s = input()
if s.find('f') != -1 and s.find('f') == s.rfind('f'):
    print(s.find('f'))
if s.find('f') != s.rfind('f'):
    print(s.find('f'), s.rfind('f'))

ofer
1

In [9]:
print('Helylo'.rfind('k'))
print('Helylo'.find('k'))

-1
-1

In [ ]:
s.find('f') != -1 and s.find('f') == s.rfind('f')

# Задача 3741

In [17]:
s = input()
start = s.find('h')
end = s.rfind('h')
print(s[:start] + s[end + 1:])

In the hole in the ground there lived a hobbit
In tobbit

# Задача 3743

In [18]:
s = input()
start = s.find('h')
end = s.rfind('h')
print(s[:end] + s[start + 1:end] + s[end:])

In the hole in the ground there lived a hobbit
In the hole in the ground there lived a e hole in the ground there lived a hobbit

# Задача 3744

In [21]:
s = input()
s = s.replace('1', 'one')
print(s)

1+1=2
one+one=2

# Задача 3744

In [22]:
first_name, middle_name, last_name = input().split()

print(last_name + ' ' + first_name[0] + '.' + middle_name[0] + '.')

Andrey Sergeevich Ivanov
Ivanov A.S.

# Задача 112350

In [25]:
file_name = input()
extension = input()

if file_name.rfind('.') == -1:
    print(file_name + '.' + extension)
else:
    print(file_name[:file_name.rfind('.')] + '.' + extension)

qwerqwer.rqwer.json
exe
qwerqwer.rqwer.exe

In [ ]:
# qwer
# exe
# -> qwer.exe

In [ ]:
# qwer.qert.html
# exe
# -> qwer.qert.exe

# Списки

In [28]:
my_list = [1, 2, 3]
print(my_list)
my_list[1] = 999
print(my_list)
print(my_list[0:2])

[1, 2, 3]
[1, 999, 3]
[1, 999]

In [34]:
my_list_2 = ['h', 'e', 'llo']
print(my_list_2[::2])

['h', 'llo']

In [39]:
my_list_2 = [1, 2, 3, 4, 5, 6, 999]
print(len(my_list_2))
for i in my_list_2:
    print(i)

7
1
2
3
4
5
6
999

In [40]:
s = 'hello'
print(len(s))

5

In [41]:
h = [1, 2, 3]
print(h)

[1, 2, 3, 3.454, 'hello', [1, 2, 3]]

In [42]:
s = 'hello'
for i in s:
    print(i)
print('---------------------')   
for i in range(len(s)):
    print(s[i])

h
e
l
l
o
---------------------
h
e
l
l
o

In [43]:
s = [1, 2, 3, 4, 6, 77, 6764, 551]
for i in s:
    print(i)
print('---------------------')   
for i in range(len(s)):
    print(s[i])

1
2
3
4
6
77
6764
551
---------------------
1
2
3
4
6
77
6764
551

In [70]:
my_list = [0] * 10
print(my_list, len(my_list))
my_list[0] = 1
my_list[1] = 2
my_list[2] = 3
my_list[3] = 4
my_list[4] = 5
my_list[5] = 6
my_list[6] = 7
my_list[7] = 8
my_list[8] = 9
my_list[9] = 10
for i in range(len(my_list)):
    my_list[i] = i + 1

print(my_list, len(my_list))

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0] 10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 10

In [69]:
[1] * 3

[1, 1, 1]

In [58]:
my_list = [0] * 10
print(my_list[5])

0

In [65]:
test_list = []
print(test_list)
for i in range(1, 11):
    test_list.append(i)

print(test_list)

[]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [74]:
students = ['Ivan', 'Masha', 'Sasha']
print(students)
students += ['Olga', 'Viktor']
print(students)
students += 'Olga'
print(students)

['Ivan', 'Masha', 'Sasha']
['Ivan', 'Masha', 'Sasha', 'Olga', 'Viktor']
['Ivan', 'Masha', 'Sasha', 'Olga', 'Viktor', 'O', 'l', 'g', 'a']

In [79]:
test_list_2 = []
test_list_2 += [1]
test_list_2 += [2]
print(test_list_2)

[1, 2]

In [98]:
some_list = [10, 1, 2, 3, 6, 5, 5, 13, 56565]
print(some_list)
sorted_list = sorted(some_list)

print(sorted_list)

[10, 1, 2, 3, 6, 5, 5, 13, 56565]
[1, 2, 3, 5, 5, 6, 10, 13, 56565]

In [100]:
some_list = [10, 1, 2, 3, 6, 5, 5, 13, 56565]
some_list.sort()
print(some_list)

[1, 2, 3, 5, 5, 6, 10, 13, 56565]

In [ ]:
students

In [ ]:
a = [1, 2, 3]
b = a
# значения списка b?

a[1] = 10
# значения списка b?

b[0] = 20
# значения списка a?

a = [5, 6]
# значения списка b?

Напишите программу, на вход которой подается одна строка с целыми числами. Программа должна вывести сумму этих чисел.
Используйте метод split строки.

Напишите программу, на вход которой подаётся список чисел одной строкой. Программа должна для каждого элемента этого списка вывести сумму двух его соседей. Для элементов списка, являющихся крайними, одним из соседей считается элемент, находящий на противоположном конце этого списка. Например, если на вход подаётся список "1 3 5 6 10", то на выход ожидается список "13 6 9 15 7" (без кавычек).

Если на вход пришло только одно число, надо вывести его же.

Вывод должен содержать одну строку с числами нового списка, разделёнными пробелом.
Sample Input 1:

1 3 5 6 10
Sample Output 1:

13 6 9 15 7
Sample Input 2:

10
Sample Output 2:

10

Напишите программу, которая принимает на вход список чисел в одной строке и выводит на экран в одну строку значения, которые встречаются в нём более одного раза.

Для решения задачи может пригодиться метод sort списка.

Выводимые числа не должны повторяться, порядок их вывода может быть произвольным.

Список чисел
На вход программе подается одно число nn. Напишите программу, которая выводит список [1, 2, 3, …, n].

Формат входных данных
На вход программе подается одно натуральное число.

Формат выходных данных
Программа должна вывести текст в соответствии с условием задачи.